.navcontainer {
    background-color: pink;
    border: solid 1px black;
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 20px;
  }
  
  .linkcontainer {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #333;
  }
  
  .linkcontainer a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .linkcontainer a:hover {
    color: #ff1f00;
  }
  
 